<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>英文學習系統</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='uploadImg.css') }}">
</head>
<body>
    <div>
        <button class="leave" onclick="Leave()">返回</button>
    </div>
    <div id="img">上傳照片</div>
    <form id="uploadForm" action="/uploadcustomfile" method="post" enctype="multipart/form-data">
        <input type="file" id="file" name="sendfile" required>
        <button type="submit">上傳照片</button>
    </form>
    <div id="uploadStatus">上傳狀態：等待上傳...</div>

</body>
<script>
        // 確認上傳視窗
    document.addEventListener("DOMContentLoaded", function() {
        document.getElementById('file').addEventListener('change', function(event) {
            alert("File selected: " + event.target.files[0].name);
        });
    });

    // 顯示上傳狀態
    document.getElementById('uploadForm').addEventListener('submit', function(event) {
        event.preventDefault();
        var formData = new FormData(this);
        var xhr = new XMLHttpRequest();
        xhr.open('POST', '/uploadcustomfile', true);
        xhr.setRequestHeader('Accept', 'application/json');

        document.getElementById('uploadStatus').textContent = '上傳狀態：上傳成功';
        xhr.onload = function() {
            if (xhr.status >= 200 && xhr.status < 300) {
                var response = JSON.parse(xhr.responseText);
                document.getElementById('uploadStatus').textContent = response.message;
            } else {
                document.getElementById('uploadStatus').textContent = '上傳狀態：上傳失敗';
            }
        };
        xhr.onerror = function() {
            document.getElementById('uploadStatus').textContent = '網路錯誤，請稍後再試';
        };
        xhr.send(formData);
    });
    function Leave() {
        window.history.back();
    }
</script>
</html>