<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='welcomet.css') }}">
    <title>英文學習系統</title>
    
</head>
<body>
    <div class="container">
        <h1>請選擇想要的模式</h1>
        <div class="contain">
            <button onclick="window.location.href='/other_welcomet'">上傳圖片</button>
            <button onclick="window.location.href='/ImageAnalyzer'">圖片分析</button>
        </div>
    </div>
</body>


</html>